

.event-list{
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
    margin-bottom: 2em;
}

@media (max-width: 800px) {
    .event-list{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px){
    .event-list{
        width: 90%;
    }
}