
@keyframes grow {
    from {width: 0vw; height: 0vh; top: 100vh; left: 0vw;}
    to{width: 90vw; height: 70vh; top: 15vh; left: 5vw;}
}

.expanded-event-div{
    position: fixed;
    width: 90vw;
    left: 5vw;
    top: 15vh;
    height: 70vh;
    border: 1px solid black;
    margin: auto;
    margin-top: 5vh;
    box-shadow: 0px 0px 3px 3px grey;
    background-color: white;
    animation-name: grow;
    animation-duration: .4s;
}

.expanded-event-nav-bar{
    width: 100%;
    background-color: #0fab13;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 5%;
}

.expanded-event-close-button{
    border-radius: inherit;
    aspect-ratio: 1/1;
    height: 60%;
    margin: .3vw;
    border-radius: 999%;
    background-color: rgb(255, 99, 60);
    border: 1px solid red;
}

.expanded-event-close-button:hover{
    cursor: pointer;
}


.expanded-event-content{
    display: flex;
    flex-direction: column;
    height: 95%;
    container-type: size;
}


.expanded-event-content-upper-half{
    width: 100%;
    display: flex;
    height: 75%;
    align-items: center;
}

.expanded-event-img-wrap{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.expanded-event-img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}






.expanded-event-info{
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 68%;
    height: 90%;
}

.expanded-event-info-header{
    display: flex;
    justify-content: space-between;
    height: 30%;
}

.expanded-event-info-header-data{
    display: flex;
    flex-direction: column;
    gap: 8%;
    width: 50%;
}

.expanded-event-info-header-data > h2{
    font-weight: normal;
}

.expanded-event-info-tags{
    display: flex;
    gap: 2%;
}

.expanded-event-info-tags > p {
    background-color: #82ff86b4;
    color: #0fab13;
    border-radius: .3em;
    padding: .3em;
}

.expanded-event-patros-list{
    display: flex;
    justify-content: end;
    height: 100%;
    gap: 10%;
    align-items: center;
    
}

.expanded-event-patro-wrap{
    height: 60%;
}

.expanded-event-patro-img{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.expanded-event-description{
    font-weight: normal;
}



.expanded-event-content-bottom-half{
    display: flex;
    height: 25%;
}

.expanded-event-content-bottom-left{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.expanded-event-content-bottom-right{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    align-items: center;
}

.expanded-event-recaudation-bar{
    display: flex;
    color: #0fab13;
    align-items: center;
    width: 70%;
    height: 40%;
    gap: 5%;
    font-size: 150%;
}

.expanded-event-recaudation-bar > p{
    font-weight: bold;
}

.expanded-event-recaudation-outer-bar{
    width: 100%;
    background-color: #0fab1480;
    border-radius: .8rem;
    height: 80%;
}

.expanded-event-recaudation-inner-bar{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #0fab13;
    color: white;
    border-radius: .8rem;
    justify-content: space-between;
}

.expanded-event-recaudation-percentage{
    align-content: center;
    background-color: #0a4e0d;
    height: 100%;
    border-radius: .8rem;
}

.expanded-event-recaudation-percentage>p{
    margin-right: 10px;
    margin-left: 10px;
}

.expanded-event-recaudation-inner-bar>p{
    margin-right: 10px;
}



.expanded-event-sunflower-wrap{
    height: 100%;
}

.expanded-event-sunflower-img{
    height: 100%;
    aspect-ratio: 1080/1920;
    object-fit: cover;
}


@media (max-width: 1350px) {
    .expanded-event-div{
        font-size: .8em;
    }
}

