*{
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
}

.on-access{
    width: 3.2%;
    border-radius: 50%;
    outline: 3px solid #0fab13;
    outline-offset: 1.4px;
}

.off-access{
    width: 3.2%;
    border-radius: 50%;
    outline: 3px solid #0fab13;
    outline-offset: 1.4px;
}
