.div-campo input{
  background-color: #e1e1e1;
  border-color: #0fab13;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  text-align: start;
  
  padding-left: 2px;
  padding-right: 2px;
}

.div-campo input:focus{
  outline-width: 2px;
  outline-color: #0fab13;
  
  
}
.div-campo p{
  color: red;
  display: inline-block;
  margin-bottom: 5px;
  
}
.div-campo label{
  margin-bottom: 5px;
  display: inline-block;
}

