.button{
    font-weight: 800;
    padding: .8em;
    border-radius: 1em;
}

.button:hover{
    cursor: pointer;
}

.confirm-button{
    background-color: #0fab13;
    color: white;

    border: none;
}

.confirm-button:hover{
    background-color: #1b701d;
    transition: all .3s;
    cursor: pointer;
}

.more-info-button{
    background-color: transparent;
    text-decoration: underline;
    color: #0fab13;
    border: none;

}

.return-button{
    background-color: transparent;
    text-decoration: underline;
    color: #0fab13;
    border: 2px solid #0fab13;
}

.return-button:hover{
    border: 2px solid #1b701d;
    color: #1b701d;
    transition: all .3s;
}

.header-button{
    color: #0fab14;
    font-weight: 550;
    background-color: rgb(255, 255, 255);
    border: .1px groove #ffffff;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: .4em;
}

.header-button:hover{
    color: #0fab13;
    background-color: rgb(232, 231, 231);
    transition: all .3s;
}

.popUp-button{
    background-color: #0fab13;
    color: white;

    padding: .8vh;
    padding-left: 8%;
    padding-right: 8%;

    border: .1px solid white;
    border-radius: .6em;

    height: 3vw;

    font-size: 100%;
}

.popUp-button:hover{
    background-color: #1b701d;
    transition: all .3s;
    cursor: pointer;
}

.gray-button{
    background-color: #a1a6a1;
    color: white;

    padding: .8vh;
    padding-left: 8%;
    padding-right: 8%;

    border: .1px solid white;
    border-radius: .6em;

    height: 3vw;

    font-size: 100%;
}

.gray-button:hover{
    background-color: #282a28;
    transition: all .3s;
    cursor: pointer;
}