
.div-content{
    display: flex;
    flex-direction: column;

    gap: 30px;

    border: 2px solid black;
    border-radius: .5em;
    box-shadow: 0 0 3px 2px rgba(108, 112, 114, 0.7); /* X | Y | Difuminado | Extensión | Color */    

    margin-left: 0%;
    margin-top: 0%;

    z-index: 100;

    padding: 30px 45px; /* Padding interior del modal */

    width: 500px; /* Ancho específico para el diseño */
    max-width: 90%; /* Responsividad */
}

.text-data{
    font-size: 1.5em;
    text-align: left;
    color: black;
    margin: 0;
    padding: 0;
}

.seccion-Uno{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
}

.div-ctxt-dni{
    margin-top: -1.5%;
    width: 100vw;
}

.p-inferior{
    font-size: .5em;
    padding-top: 1.2em;
}

.text-legal {
    font-size: 0.8em;
    color: #555;
    margin-top: -25px; /* Moverlo cerca del input DNI */
}

.hr-separador{
    border: 2px solid black;
}

.div-content-access{
    display: flex;
    flex-direction: column;

    gap: 30px;

    border: 2px solid black;
    border-radius: .5em;
    box-shadow: 0 0 3px 2px rgba(108, 112, 114, 0.7); /* X | Y | Difuminado | Extensión | Color */    

    margin-left: 0%;
    margin-top: 0%;

    z-index: 100;

    padding: 30px 1px; /* Padding interior del modal */

    width: 35vw; /* Ancho específico para el diseño */
}

.text-data-access{
    font-size: 1.5em;
    text-align: center;
    color: black;
    margin: 0;
    padding: 0;
}

.div-buttonCont{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.text-reduced{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 1.2em;
}

.div-content-collaborate{
    display: flex;
    flex-direction: column;

    gap: 30px;

    border: 2px solid black;
    border-radius: .5em;
    box-shadow: 0 0 3px 2px rgba(108, 112, 114, 0.7); /* X | Y | Difuminado | Extensión | Color */    

    margin-left: 0%;
    margin-top: 0%;

    z-index: 100;

    padding: 30px 20px; /* Padding interior del modal */

    width: 35vw; /* Ancho específico para el diseño */
}

.div-body-collaborate{
    display: flex;
    justify-content: center;
}

.div-body{
}

.div-txtUp{
    display: flex;
    justify-content: center;
    margin-top: -5%;
    gap: 20px;
}

.div-collaborate{
    margin-top: 3%;
}

.ctxt-collaborate{
}

.div-button-collaborate{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    font-size: .8em;
}

.div-cb-donar{ /* Creo un div */
    width: 15vw;
    padding-bottom: .8em;
}

.div-cb-denegar{
    width: 15vw; 
    margin-left: 30%;   
}

.p-txtDown{
    font-size: .5em;
}

.img-flor2{
    width: 5vw;
}