
.acc-button-wrap{
    position: absolute;
    left: 1em;
    bottom: 1em;
    width: 3vw;
    aspect-ratio: 1/1;
    transform: translate(0, -3vw);
}
.on-access{
    width: 100%;
    border-radius: 50%;
    outline: 3px solid #0fab13;
    outline-offset: 1.4px;
}

.off-access{
    width: 100%;
    border-radius: 50%;
    outline: 3px solid #0fab13;
    outline-offset: 1.4px;
}
