.user-data-pop-up{
    padding: 1.3em;
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40vw;
}

.user-data-pop-up-title{
    text-decoration: underline;
}

.user-data-pop-up .div-campo{
    width: 90% !important;
}

.user-data-pop-up .div-campo input{
    margin-top: -1em;
    width: 100% !important;
    padding: .5em;
    font-size: 1em;
}

.user-data-pop-up .div-campo label{
    display: none !important;
}

.user-data-pop-up .button{
    padding-right: 3em;
    padding-left: 3em;
    font-size: 1.2em !important;
}